@model Locator.WebApp.Models.LandmarkRoutesViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="editor-field">
        <table border="1">
            <tr>
                <th>Landmarks</th>
                <th>Rotes</th>
            </tr>
            <tr>
                <td>
                    <table border="1">
                        <tr>
                            <th>Landmark Code</th>
                            <th>Landmark Name</th>
                        </tr>
                        @foreach (LandmarkModel data in Model.Landmarks)
                        {
                            <tr>
                                <td align="center">@data.Code</td>
                                <td align="center">@data.Name</td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <table border="1">
                        <tr>
                            <th>Route Code</th>
                            <th>Starting Landmark</th>
                            <th>Ending Landmark</th>
                            <th>Distance</th>
                        </tr>
                        @foreach (RouteModel data in Model.Routes)
                        {
                            <tr>
                                <td align="center">@data.RouteCode</td>
                                <td align="center">@data.StartLandmark.Code</td>
                                <td align="center">@data.EndLandmark.Code</td>
                                <td align="center">@data.Distance</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>

<div>
    @using (Html.BeginForm("DistanceBWLandmarks", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend><strong>Distance B/W Landmarks</strong></legend>
            <table border="1">
                <tr>
                    <th>Start Landmark</th>
                    <th>End Landmark</th>
                    <th>Via Landmarks (, separated)</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.StartLandmark, new SelectList(Model.Landmarks, "Code", "Name"), "Select")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.EndLandmark, new SelectList(Model.Landmarks, "Code", "Name"), "Select")
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ViaLandmarks)
                    </td>
                    <td>
                        <input type='submit' value='Submit' />
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>

<div>
    @using (Html.BeginForm("RoutesBWLandmarks", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend><strong>Routes B/W Landmarks</strong></legend>
            <table border="1">
                <tr>
                    <th>Start Landmark</th>
                    <th>End Landmark</th>
                    <th>Max Stops</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.StartLandmark, new SelectList(Model.Landmarks, "Code", "Name"), "Select")
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.EndLandmark, new SelectList(Model.Landmarks, "Code", "Name"), "Select")
                    </td>
                    <td>
                       @Html.DropDownListFor(x => x.MaxStops, new SelectList(Model.Stops), "Select")
                    </td>
                    <td>
                        <input type='submit' value='Submit' />
                    </td>
                </tr>                
            </table>
        </fieldset>
    }
</div>